
.custom-controls.save-button {
	div {
        position: relative;
		width: calc(50% - 40px);
		display: inline-block;
		vertical-align: top;
		
		&:first-of-type {
			margin-right: 40px;
			&:after {
				content: "";
				position: absolute;
				right: -40px;
				height: calc(100% - 20px);
				width: 1px;
				background: #CCC;
				bottom: 0;
			}
		}
		
		&:last-of-type {
			margin-right: 40px;
		}
		a {
			margin-top: 20px;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 50px;
			font-size: 18px;
			text-align: center;
			vertical-align: middle;
			display: inline-block;
			width: calc(33.333% - 45px);
			margin-right: 0px;
			padding: 20px;
			span.image-wrapper {
				margin-top: 0;
				height: 110px;
				width: 100%;
				position: relative;
				display: block;
			}
			img {
				position: absolute;
				left: 50%;
				-webkit-transform: translate(-50%, 0);
				-ms-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
				bottom: 0;
				display: block;
				margin: 0 auto;
				max-width: 100%;
				max-height: 100%;
			}
			&:hover {
				filter: sepia(35%);
			}
		}
	}
	width: calc(100% - 40px);
	margin-left: 20px;
}

#pannelProjects {
	.ui-tabs-nav {
		width: 50%;
		float: left;
	}
}

.sw-header .header-controls{
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 20px;
}

.ticker_price {
    display: inline-block;
    font-size: small;
    
    border-radius: 5px;
    padding: 2px 1px 1px 2px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
  
}

  .bad{
    background-color: #c44100;
  }

  .good{
    background-color: #00c411;
  }

  .d::after{
    content: "\EA4C";
    font-family: "remixicon";
    text-indent: 0;
    display: inline-block;
    color: white;
  }

  .u::after{
    content: "\EA76";
    font-family: "remixicon";
    text-indent: 0;
    display: inline-block;
    color: white;
  }
