@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');


$colorLight : #fff;
$colorDark : #262D35;
$colorDarkHover : #313642;
$colorDark3 : #1d2227;
$colorMid : #d2d8e4;
$colorMid2 : #d2d8e4;
$colorMid3 : #bbb;
$colorTrOdd : #d8dee9;
$colorShadow : rgba(163, 193, 226, 0.5);
$hoverFilter : invert(99%) sepia(40%) saturate(42%) hue-rotate(233deg) brightness(115%) contrast(88%);
$colorGreen :#00d1b2; // #00d1b2;
$colorBlue: #4db6fc;
$colorLightRed: #d45e5e;
$colorWarning: #d4cc5e;
$colorHoverBg: #f5f5f5;
$colorHover: #00c4a7;
$colorBgBody: #f8f8f8;
$colorText: #4a4a4a;
$colorLinkHover: #dd6300;

[class^="ri-"],
[class*=" ri-"] {
	color: $colorBlue;
	font-size: 1.5em;

	&:hover {
		color: $colorLinkHover;
	}
}

@import 'selectbox';

@keyframes bg-login {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 -300px;
	}
}

@keyframes online_users {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	color: $colorText;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	background-color: $colorBgBody;
}

a {
	color: $colorGreen;
}

.icon {
	font-family: "remixicon";
	font-size: 1.5em;
	color: $colorLight;

	span {
		text-indent: -999em;
		display: block
	}
}

.ui-dialog {
	max-width: 60%;
	min-width: 320px;
	outline: none;
	background: #dedede;
	z-index: 11000;
	border-radius: 6px;


	.ui-dialog-content {

		padding: 5px;
		border: 1px solid #dedede;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}

	.trigger-search {
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
		border: none;
		text-align: center;
		display: none;

		span {
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 44px);
			text-transform: uppercase;
			font-weight: 700;
			line-height: 100%;
			font-size: 16px;
		}
	}



	.ui-dialog-titlebar {
		background: $colorGreen;
		padding: 10px;
		border-width: 0px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;

		button {
			span {
				display: none;
				text-indent: -9999px;
			}

			&:before {
				position: absolute;
				display: block;
				content: "";
				width: 100%;
				height: 5px;
				background: $colorDark;
				border-radius: 10px;
				transform: rotate(-45deg);
				left: 0;
				top: 7px;
			}

			&:after {
				position: absolute;
				display: block;
				content: "";
				width: 100%;
				height: 5px;
				background: $colorLight;
				border-radius: 10px;
				transform: rotate(45deg);
				right: 0;
				top: 7px;
			}
		}

		[role="button"] {
			position: relative;
			vertical-align: middle;
			width: 24px;
			height: 24px;
			text-indent: -9999px;
			border: none;
			background-color: $colorGreen;

			span {
				display: none;
				text-indent: -9999px;
			}

			&:before {
				position: absolute;
				display: block;
				content: "";
				width: 100%;
				height: 5px;
				background: $colorLight;
				border-radius: 10px;
				transform: rotate(-45deg);
				left: 0;
				top: 10px;
			}

			&:after {
				position: absolute;
				display: block;
				content: "";
				width: 100%;
				height: 5px;
				background: $colorLight;
				border-radius: 10px;
				transform: rotate(45deg);
				right: 0;
				top: 10px;
			}
		}

		.ui-dialog-title {

			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 50px);
			color: $colorLight;
			font-weight: 700;
		}

		.ui-fullscreen {
			text-indent: -9999px;
			width: 24px;
			height: 24px;
			display: inline-block;
			vertical-align: middle;

			&:after {
				content: "\ed9c";
				font-family: "remixicon";
				text-indent: 0;
				display: block;
				position: absolute;
				top: 4px;
				left: 6px;
				color: white;
				font-size: 1.5em;
			}
		}
	}

	.ui-dialog-buttonpane {
		text-align: center;
		padding-bottom: 20px;

		button {
			border: none;
			margin: 0 5px;
			padding: 10px 20px;
			font-weight: bold;
			background-color: $colorGreen;
			border: 1px solid $colorGreen;
			border-radius: 4px;
			color: $colorLight;

			&:hover {
				background-color: $colorHover;
			}
		}
	}

	#editDialog {
		width: 100%;
		max-width: 100%;
		overflow-y: scroll;

		.sw-header {
			position: relative;
			height: 50px;
		}
	}

	#editPopupDialog {
		width: 100%;
		max-width: 100%;
		overflow-y: scroll;

		.sw-header {
			position: relative;
			height: 50px;
		}
	}

	.content {
		padding-bottom: 100px;
	}

	input[type="checkbox"] {
		z-index: 0;
		width: 0;
	}

	#editPopupDialog[data-media="1024"],
	#editDialog[data-media="1024"] {
		.mainForm {
			.divtr {
				&:not(.divbut) {
					width: calc(33.33% - 40px);
				}
			}
		}
	}

	#editDialog[data-media="768"],
	#editPopupDialog[data-media="768"] {
		.mainForm {
			.divtr {
				&:not(.divbut) {
					width: calc(50% - 40px);
				}
			}
		}
	}

	#editDialog[data-media="480"],
	#editPopupDialog[data-media="480"] {
		.mainForm {
			.divtr {
				&:not(.divbut) {
					width: calc(100% - 40px);
				}
			}
		}
	}

	#editPopupDialog,
	#editPopupDialog {
		.sw-header {
			top: -20px;
			left: -20px;
			width: calc(100% + 40px);
		}

		.navigation-wrapper {
			position: absolute;
			bottom: auto;
			top: 100%;
			padding: 10px 20px;
		}

		.content {
			padding-bottom: 0;
		}
	}

	#confirmDialog {
		text-align: center;
		padding-top: 20px;

		#confirm_text {
			font-size: 18px;

			&:before {
				content: "\ea21";
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				font-family: "remixicon";
				font-size: 1.5em;
				color: $colorWarning;
			}
		}
	}

	#loadingDialog {
		text-align: center;
		padding-bottom: 40px;

		div {
			margin-bottom: 20px;
		}

		.outer {
			fill: $colorLight;
		}

		.middle {
			fill: $colorLight;
		}

		p {
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
		}
	}
}

.center-panel {
	.content-wrapper {
		box-sizing: border-box;
		padding-top: 50px;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;

		#tabsContain {
			box-sizing: border-box;
			width: 100%;
			padding: 15px 15px 75px;
		}

		.splash {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;

			h1 {
				font-size: 28px;
				margin-bottom: 10px;
			}
		}

		.msSearchCtnr {
			width: 100%;
			padding: 0px;
			padding-bottom: 15px;
			margin: 0 -5px;
		}

		.cntOngletSearchTabs {
			margin-top: 10px;

			.button-link-blue.ui-state-active {
				background: $colorLight;
			}

			.msSearchCtnr {
				button.ui-state-active {
					background: $colorLight;
				}
			}

			.sw-header {
				a.ui-state-active {
					background: $colorLight;
				}

				button.ui-state-active {
					background: $colorLight;
				}
			}


		}

		.cntOngletSearchTabs+.msSearchCtnr {
			margin-top: 0;
		}

		.child_tab {
			margin-top: 20px;

			.content-child {
				background: $colorMid2;
				padding: 20px;

				table.tablesorter {
					margin-top: 0;
				}
			}
		}

		.child_pannel {
			min-height: 40px;
			padding: 0px;
			border-radius: 6px;
			margin: 5px;
		}

		.childListWrapper {
			padding: 10px;
		}

		.ac-list-form-header-child {
			margin-bottom: 10px;
		}

		.childCntClass {

			background: $colorLight;

			.msSearchCtnr {
				margin-top: 0;
				padding: 0;
				display: inline-block;
				vertical-align: top;
				width: calc(100% - 60px);
				margin-left: 20px;
			}

			.swf-upload-button {
				width: 40px;
				height: 40px;
				display: inline-block;
				vertical-align: top;
			}

			.add-button {
				width: 38px;
				height: 38px;

				&:after {
					top: -10px;
					left: -1px
				}
			}

			.ac-list {
				margin-top: 5px;

				.content {
					padding-bottom: 0;
				}
			}

			.pagination-wrapper {
				text-align: right;
				margin: 10px 0px 10px 0px;
			}
		}

		.rightsTr {

			width: calc(100% - 40px);
			margin: 20px;
			text-align: right;

			>label {
				display: none;
			}

			.rights-table {
				width: 100%;
				margin-top: 20px;
				text-align: center;

				thead {
					tr {
						th {
							padding: 10px;
							text-align: center;

							&:first-of-type {
								text-align: left;
							}

							&:after {
								display: none;
							}
						}
					}
				}

				tbody {
					tr {
						background: $colorLight;

						td {
							width: 55px;

							&:first-of-type {
								width: auto;
								text-align: left;

							}

							label {
								top: 0;

								&:before {
									margin-right: 0;
								}
							}
						}
					}
				}
			}

		}
	}

	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: calc(100% - 275px);
	height: 100%;
	transition: opacity 0.3s;
}

.left-panel {
	position: fixed;
	z-index: 15;
	top: 0;
	left: 0;
	height: 100%;
	transition: transform 0.3s;
	background: $colorLight;
	border-width: 0 1px 0 0;
	width: 250px;

	.top-nav {
		width: 250px;
		border: 1px solid #d2d8e4;
		border-width: 0 0 1px;

		.logo-wrapper {
			box-sizing: border-box;
			display: block;
			width: 100%;

			img {
				max-width: 100%;
				display: block;
				margin: 0 auto;
				max-height: 50px;
			}
		}

		.nav {
			display: flex;
			align-items: flex-start;

			li {
				box-sizing: border-box;
				position: relative;
				display: inline-block;
				width: 50px;
				padding-top: 49px;
				background: $colorLight;
				vertical-align: top;
				transition: background 0.3s;

				&:last-of-type {
					border: none;
				}

				a {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 100%;
					transition: background 0.3s;

					&:hover {
						background: $colorMid2;
					}

					span {
						display: block;
					}

					&.icon span:after {
						color: $colorGreen;
						text-indent: 0;
						display: block;
						top: 7px;
						left: 11px;
						position: absolute;
					}
				}

				.right {
					margin-left: auto;
				}

				a.support {
					span:after {
						content: "\f048";
					}
				}

				a.dashboard {
					span:after {
						content: "\eeab";
					}
				}

				a.user {
					span:after {
						content: "\f02d";
					}
				}

				a.home {
					span:after {
						content: "\ee2b";
					}
				}

				a.menu {
					span:after {
						content: "\ef3e";
					}
				}
			}

			width: 100%;
		}

		.select-box-authy {
			box-sizing: border-box;
			position: relative;
			display: inline-block;
			font-weight: 300;
			margin-bottom: 0px;

			input {
				box-sizing: border-box;
				width: 100%;
				padding: 5px;
			}

			.ui-helper-hidden-accessible {
				display: none;
			}
		}

		.box-Authy {
			max-width: 70%;
			margin: 10px auto;
			display: block;
			max-width: 90%;
		}

		.language {
			display: inline-block;
			margin-left: 10px;
			padding: 11px 5px;
			background-color: $colorLight;

			li {
				span {
					font-weight: bold;
					padding: 5px;
					color: $colorLight;
					font-weight: bold;
				}
			}
		}
	}

	.ac-nav {
		padding-bottom: 50px;
		width: 250px;

		.ac-menu {
			list-style-type: none;

			li {
				margin-top: 5px;
				margin: 0px;

				a {
					display: block;
					color: #4a4a4a;
					padding: 10px 15px;

					&:before {
						display: inline-block;
						margin-right: 5px;
					}
				}

				a.disconnect {
					color: $colorDark;
					line-height: 21px;
					font-weight: bold;

					&:hover {
						color: $colorDarkHover;
						background: $colorMid;
					}
				}

				ul {
					display: none;
					border-left: 1px solid #757575;
					margin: .75em;

					li {
						margin-top: 0;

						a {
							padding-left: 40px;
							font-weight: 300;
							background: none;
							border-top: 1px solid $colorDark3;
							font-size: 0.9em;
							border: none;
							color: #4a4a4a;
							padding-left: 30px;

							&:before {
								display: inline-block;
								margin-right: 5px;
							}
						}
					}
				}
			}

			li.active {
				>a {
					background: $colorHoverBg;
					color: #4a4a4a;
				}
			}

			/* child menu*/
			&>li {
				&>a {
					transition: background 0.3s, color 0.3s;

					&:hover {

						color: #4a4a4a;
					}

					&.active {
						background: $colorHoverBg;
						color: #4a4a4a;
					}
				}

				li a {
					&:hover {
						background: $colorHoverBg;
						color: #4a4a4a;
					}

					&.active {
						background: $colorHoverBg;
						color: #4a4a4a;
					}
				}
			}
		}
	}

	.left-panel-wrapper {
		position: relative;
		height: 100vh;
		overflow-x: hidden;
		width: 249px;
		border-right: 1px solid $colorMid2;
	}

	.left-panel-content {
		position: absolute;
		overflow-y: scroll;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-right: -20px;
		padding-right: 20px;
	}
}

.breadcrumb {
	display: block;
	padding: 10px;
	border-bottom: 1px solid $colorMid2;
	color: $colorDark;

	a {
		border-bottom: 1px solid transparent;
		display: inline-block;
		font-weight: bold;
		transition: border 0.3s;
		position: relative;
		margin-right: 11px;

		&:hover {
			border-bottom: 1px solid $colorDark;
		}

		&:after {
			content: "/";
			position: absolute;
			right: -10px;
			animation: 0;
		}

		&:visited {
			color: $colorDark;
		}
	}

	span {
		font-weight: 400;
		margin: 0 5px;
		display: inline-block;
	}
}

.mainForm {
	padding: 5px;

	h1,
	h2,
	h3 {
		margin-top: 10px;
	}

	.explain {
		margin-top: 5px;
		font-style: italic;
		font-size: 0.9em;
	}

	.divbut.divtr {
		width: calc(100% - 20px) !important;
		text-align: right;
		margin: 30px 20px 20px 0;

		input[type="button"] {
			display: inline-block;
			width: auto;
			padding: 5px 15px;
			font-weight: 700;
			cursor: pointer;
			text-transform: uppercase;
			background: none;
			transition: background 0.3s, color 0.3s, border 0.3s;
			color: $colorLight;
			border: 3px solid $colorLight;
			cursor: default;
		}

		input[type="button"].can-save {
			background: $colorLight ;
			color: $colorGreen;
			border: 2px solid $colorGreen;
			padding: 15px 20px;

			&.unsaved {
				color: $colorLight;
				cursor: pointer;
				transition: background 0.3s;
				background-color: $colorGreen;

			}

			&:hover {
				background: $colorHover;
				color: $colorLight;
				border: 2px solid $colorHover;
				background: $colorHover;
				color: $colorLight;
				border: 2px solid $colorHover;
			}
		}

	}

	.divtr {
		width: calc(25% - 40px);
		margin: 20px 20px 0;
		display: inline-block;
		vertical-align: top;

		&.colspan4 {
			width: calc(100% - 40px);
		}

		input {
			&:before {
				content: " ";
				display: table;
			}

			&:after {
				content: " ";
				display: table;
				clear: both;
			}

			display: block;
			width: 100%;
			border: 1px solid $colorMid2;
			padding: 10px;
			font-size: 0.9em;

			&:focus {
				border-color: $colorGreen;
			}

			&:disabled {
				background: $colorMid;
			}
		}

		textarea {
			&:before {
				content: " ";
				display: table;
			}

			&:after {
				content: " ";
				display: table;
				clear: both;
			}

			min-height: 133px;
			display: block;
			width: 100%;
			border: 1px solid $colorMid2;
			padding: 10px;

			&:focus,
			&:active {
				border-color: $colorGreen;
				outline-color: $colorGreen;
				outline-width: 1px;
			}

			&:disabled {
				background: $colorMid;
			}
		}

		.divtd {
			margin-top: 5px;

			.select-label {
				box-sizing: border-box;
				width: 100%;
			}
		}

		label {
			font-weight: 700;
			display: inline-block;

			a {
				color: $colorLight;
			}
		}
	}

	.divStdform {
		box-sizing: border-box;
		width: 100%;
		background: $colorLight;
		padding: 0px;
		border-radius: 6px;

		.form-tab {
			display: none;
		}

		.form-tab.current {
			display: block;
		}
	}

	.divtr.readonly {
		.divtd {
			input {
				background: $colorMid2;

				&:focus {
					border-color: $colorGreen;
				}
			}
		}
	}

	.divtr.istinymce {
		width: calc(100% - 40px);
		margin-right: 0;
		margin-left: 20px;
	}

	.divtr.rightsTr {
		width: calc(100% - 40px);
	}
}

.panel-heading {
	background-color: #ededed;
	border-radius: 6px 6px 0 0;
	color: #363636;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1.25;
	padding: .75em 1em;
}

input {
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	overflow: visible;
	border: 1px solid $colorMid2;
	padding: 10px;
	background: $colorLight;
	transition: background 0.3s, border 0.3s;
	font-weight: 300;
	appearance: none;
	border-radius: 4px;

	&:focus {
		outline: none;
	}
}

textarea {
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	overflow: auto;
	border: 1px solid $colorMid2;
	padding: 10px;
	background: $colorLight;
	transition: background 0.3s, border 0.3s;
	font-weight: 300;
	appearance: none;
	border-radius: 4px;
}

select {
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	text-transform: none;
	border: 1px solid $colorMid2;
	padding: 10px;
	background: $colorLight;
	transition: background 0.3s, border 0.3s;
	font-weight: 300;
	appearance: none;
	border-radius: 4px;
}

input[type="checkbox"]+label {
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		width: 40px;
		height: 15px;
		background: $colorShadow;
		border-radius: 15px;
	}

	&:after {
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		top: 45%;
		left: 0;
		transform: translate(0, -40%);
		border-radius: 50%;
		transition: transform 0.3s, background 0.3s;
		background: $colorMid3;
	}
}

input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -10;

	&:checked+label {
		&:after {
			transform: translate(20px, -40%);
			background: $colorGreen;
		}
	}
}

a.add-button {
	box-sizing: border-box;
	display: inline-block;
	height: 50px;
	width: 50px;
	position: relative;
	margin-right: auto;
	background: $colorGreen !important;
	text-indent: -9999px;
	border: none !important;
	transition: background 0.3s;

	&:hover {
		background: $colorHover !important;
	}

	&:after {
		font-family: "remixicon";
		content: "\ea12";
		text-indent: 0;
		color: $colorLight;
		font-size: 2.5em;
		position: absolute;
		top: -6px;
		left: 5px;
		display: block;
		width: 25px;
		height: 25px;
	}
}

.msSearchCtnr {
	box-sizing: border-box;

	.ac-search-item {
		height: 40px;
		vertical-align: middle;
		box-sizing: border-box;
		display: inline-block;
		width: calc(15.66% - 10px);
		margin: 0 5px;
		margin-top: 5px;

		.select-label {
			width: 100%;
		}

		input {
			box-sizing: border-box;
			height: 40px;
			line-height: 40px;
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}

	.ac-action-buttons {
		text-align: left;
		display: inline-block;
	}

	button {
		position: relative;
		height: 40px;
		line-height: 40px;
		padding: 0 15px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		font-weight: 400;
		color: $colorLight;
		border: 1px solid $colorGreen;
		border-radius: 4px;
		background-color: $colorGreen;
		transition: background 0.3s;

		&:hover {
			background: $colorHover;
			color: $colorLight;
		}
	}

	button.icon {
		width: 40px;
		height: 40px;
	}

	button.icon {
		&.search {
			span {
				width: 25px;
				height: 25px;

				&:after {
					font-family: "remixicon";
					content: "\f0cd";
					color: $colorLight;
					font-size: 1em;
					position: absolute;
					top: -1px;
					left: 7px;
					text-indent: 0;
				}
			}
		}

		&.refresh {
			span {
				width: 25px;
				height: 25px;

				&:after {
					font-family: "remixicon";
					content: "\F064";
					color: $colorLight;
					font-size: 1em;
					position: absolute;
					top: -1px;
					left: 7px;
					text-indent: 0;
				}
			}
		}
	}


	button.current {
		&:before {
			transform: scaleY(1);
		}
	}
}

.sw-message {
	position: fixed;
	z-index: 5000;
	right: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	text-align: left;
	background: $colorGreen;

	li {
		box-sizing: border-box;
		width: 100%;
		display: block;
		margin: 0;
		padding: 20px;
		color: $colorLight;
		transform: translate(0, 0);
		transition: transform 0.3s;
		text-align: center;
	}

	li.success {
		color: $colorLight;

		span {
			font-weight: bold;
		}
	}

	li.error {
		color: $colorLightRed;
	}

	li.new {
		transform: translate(0, 100%);
	}
}

.sw-header {
	position: fixed;
	z-index: 5000;
	top: 0;
	left: 0;
	width: calc(100% - 15px);
	width: calc(100% - 15px);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	height: 49px;
	background-color: $colorLight;
	border: 1px solid #d2d8e4;
	border-width: 0 0 1px;

	input[type="checkbox"]+label {
		color: $colorLight;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		font-weight: bold;
		height: 50px;
		padding-left: 10px;
		border-left: 1px solid $colorLight;
		padding-top: 17px;
		padding-right: 10px;

		&:after {
			left: 10px;
			top: 48%;
		}
	}

	a {
		box-sizing: border-box;
		transform: translateZ(0);
		backface-visibility: hidden;
		position: relative;
		color: $colorLight;
		border: none;
		display: inline-block;
		height: 50px;
		vertical-align: top;
		font-weight: 700;
		padding: 13px 0px;
		min-width: 50px;
		background-color: $colorGreen;
		border-left: 1px solid $colorLight;
		border-right: 1px solid $colorLight;
		transition: background 0.3s;

		&:focus {
			outline: none;
		}

		&:hover {
			background: $colorDarkHover;
		}
	}

	button {
		box-sizing: border-box;
		transform: translateZ(0);
		backface-visibility: hidden;
		position: relative;
		color: $colorGreen;
		border: none;
		position: relative;
		display: inline-block;
		height: 50px;
		vertical-align: top;
		font-weight: 700;
		padding: 0px 10px;
		min-width: 50px;
		background-color: $colorHoverBg;
		border-left: 1px solid $colorLight;
		border-right: 1px solid $colorLight;
		border-bottom: 1px solid #d2d8e4;
		transition: background 0.3s;

		&:hover {
			background: $colorMid3;
			color: $colorGreen;
		}
	}

	a.current {
		&:before {
			transform: scaleY(1);
		}
	}

	button.current {
		&:before {
			transform: scaleY(1);
		}
	}

	.default-controls {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-grow: 1;
	}

	a.toggle-menu {

		text-align: center;
		width: 50px;
		display: none;
		text-indent: -9999px;

		span {

			width: 25px;
			height: 25px;

			&:after {
				font-family: "remixicon";
				content: "\ef3e";
				text-indent: 0;
				font-size: 1.5em;
				position: absolute;
				top: 7px;
				left: 11px;
			}
		}


	}

	a.icon.duplicate {
		margin: 13px 11px 0;
		padding: 0;

		&:before {
			display: none;
		}
	}

	button.icon.duplicate {
		margin: 13px 11px 0;
		padding: 0;

		&:before {
			display: none;
		}
	}
}

.trigger-search {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border: none;
	text-align: center;
	display: none;
	margin-bottom: 10px;
	color: $colorGreen;
}

.content {
	padding-bottom: 100px;
	overflow-x: auto;
	border-radius: 6px;
	border: 1px solid rgba(24, 28, 33, 0.06);
	color: #4a4a4a;
	padding: 5px;
	background-color: #fff;
}

.tablesorter {
	width: 100%;

	thead {
		th {
			position: relative;
			color: $colorHover;
			text-align: left;
			font-weight: 600;
			padding: 0.5em 0.75em;
			cursor: pointer;
			border: 1px solid #fafafa;
			vertical-align: top;
			border-width: 0 0 2px;

			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				top: 50%;
				right: 10px;
				border-top: 5px solid $colorGreen;
				transform: translate(0, calc(-50% + 3.5px));
				transition: border 0.3s;
			}

			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				top: 50%;
				right: 10px;
				border-bottom: 5px solid $colorGreen;
				transform: translate(0, calc(-50% - 3.5px));
				transition: border 0.3s;
			}

			.sorted {
				background: $colorHoverBg !important;
				border-color: $colorDarkHover;
			}
		}

		th.actionrow,
		th.no-sort,
		th.delete {
			&:after {
				display: none;
			}

			&:before {
				display: none;
			}
		}

		th[sens="desc"] {
			&:before {
				border-top: 5px solid $colorLight;
			}

			&:after {
				border-bottom: 5px solid $colorGreen;
			}

		}

		th[sens="asc"] {
			&:before {
				border-top: 5px solid $colorGreen;
			}

			&:after {
				border-bottom: 5px solid $colorLight;
			}
		}

		th.delete {
			padding: 0;
			width: 16px;
		}
	}

	tbody {

		tr {
			cursor: pointer;
			background: $colorLight;

			td {
				padding: 0.5em 0.75em;
				background: $colorLight;
				transition: background 0.3s;
				border: 1px solid #e9e9e9;
				border: 1px solid #e9e9e9;

				span {
					position: relative;
				}

				a {
					color: $colorGreen;
				}

				&:last-of-type {
					background: none;
				}

				.ac-delete-link {
					display: inline-block;
					width: 23px;

					i {
						color: $colorLightRed;

						&:hover {
							color: $colorBlue;
						}
					}

				}

				p.no-results {
					padding: 7px;
					position: relative;

					span {
						display: inline-block;
						vertical-align: middle;
						width: calc(100% - 29px);
						margin-left: 30px;
					}

					&:before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						margin-right: 10px;
						background: url("../../img/remix/information-line.svg") no-repeat;
						background: url("../../img/remix/information-line.svg") no-repeat;
						width: 24px;
						height: 24px;
						position: absolute;
						top: 5px;
					}
				}
			}

			td.actionrow {
				width: 1px;
				white-space: nowrap;
				text-align: center;
				padding: 0;

				a {
					display: inline-block;
					vertical-align: middle;
					margin: 0 5px;
				}

				label {
					margin: 0 5px;

					&:before {
						margin-right: 0;
					}
				}
			}

			td.total {
				color: $colorGreen;
				font-weight: bold;
			}

			&:nth-of-type(2n) {
				td {
					background: #fafafa;
				}
			}

			&:hover {
				td:not([t="empty"]) {
					background-color: $colorHoverBg;
					color: $colorHover;
				}

				td[t="empty"] {
					cursor: default;
				}
			}
		}
	}

	tfoot {
		tr {
			cursor: pointer;
			background: $colorLight;

			td {
				border: 1px solid $colorMid2;
				padding: 8px 5px;
				background: $colorLight;
				transition: background 0.3s;

				&:last-of-type {
					background: none;
				}

			}
		}
	}

	tr {
		td.right {
			text-align: right;
		}

		td.center {
			text-align: center;
		}
	}

	tfoot.totalRow {
		tr {
			td {
				border: 0px none;
				padding: 5px 10px 4px;
			}
		}
	}
}

.navigation-wrapper {
	box-sizing: border-box;
	text-align: right;
	background: $colorLight;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	border-top: 1px solid $colorMid2;
	padding: 2px;

	.scroll-top {
		display: inline-block;
		vertical-align: middle;
		background: $colorLight;
		border: none;

		span {
			display: block;
			text-indent: -9999px;
			width: 24px;
			height: 24px;

			&:after {
				font-family: "remixicon";
				content: "\ea72";
				text-indent: 0;
			}
		}
	}

	.pagination-wrapper {
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 43px);

		input {
			text-align: center;
		}

		input:not([value='1']) {
			background-color: $colorBlue;
			color: white;
		}
	}
}

.featured-input {
	box-sizing: border-box;
	width: 100%;
	padding: 0 0 20px 0;
	background: #f5f5f5;
	margin: 0 0 20px 0;
}

.ui-datepicker {
	background: $colorLight;

	.ui-datepicker-header {
		position: relative;
		background: $colorGreen;
		text-align: left;
		padding: 3px 0;
		font-size: 0.9em;

		.ui-datepicker-title {
			display: block;
			margin: 0 auto;
			width: calc(100% - 74px);
			text-align: center;
			font-size: 1.5em;
			color: $colorLight;

			select {
				box-sizing: border-box;
				padding: 5px;
				outline: none;
				background: none;
				font-weight: 700;
				border: none;
				text-align: center;
				cursor: pointer;
				text-align-last: center;

				option {
					color: $colorDark3;
				}
			}

		}

		a.ui-corner-all {
			position: absolute;
			display: block;
			top: 0;
			width: 35px;
			height: 34px;
			background: $colorGreen;
			text-indent: -9999px;
			cursor: pointer;

			span {
				position: absolute;
				top: 15px;
				background: url("../../img/sprite-sw.png") no-repeat;
				background: url("../../img/sprite-sw.png") no-repeat;
				background-position: 0 0;
				width: 11px;
				height: 7px;
			}
		}

		a.ui-corner-all.ui-datepicker-prev {
			left: 0;

			span {
				left: 12px;
				transform: rotate(90deg);
			}
		}

		a.ui-corner-all.ui-datepicker-next {
			right: 0;

			span {
				right: 12px;
				transform: rotate(-90deg);
			}
		}
	}

	.ui-datepicker-calendar {
		border: 1px solid #827d7d;

		thead {
			th {
				padding: 5px 8px;
				text-align: center;
			}
		}

		tbody {
			td {
				padding: 10px 10px;
				cursor: pointer;
				text-align: center;
				font-size: 0.9em;

				a {
					color: $colorDark;
					font-weight: 400;
				}

				&:hover {
					background: $colorHoverBg;

					a {
						color: $colorDark3;
					}
				}
			}

			td.ui-datepicker-current-day {
				background: $colorMid;

				a {
					color: $colorLight;
				}
			}

			td.ui-datepicker-other-month {
				background: #f1f1f1;

				a {
					color: #5e5e5e;
				}

				&:hover {
					a {
						color: $colorLight;
					}
				}
			}

			.ui-datepicker-today {
				background-color: aliceblue !important;

				a {
					font-weight: bold;
				}
			}

			.ui-datepicker-unselectable {
				background: #f1f1f1;
				color: #969292;
			}
		}
	}
}

a {
	background-color: transparent;
	text-decoration: none;
	padding: 0;
	margin: 0;

	&:active {
		outline-width: 0;
	}

	&:hover {
		outline-width: 0;
	}
}

b {
	font-weight: inherit;
	font-weight: bolder;
}

strong {
	font-weight: inherit;
	font-weight: bolder;
}

h1 {
	font-size: 2em;
	margin: 0.67em;
	padding: 0;
	margin: 0;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

button {
	font: inherit;
	margin: 0;
	cursor: pointer;
	outline: none;
	overflow: visible;
	text-transform: none;
	outline: none;

	&:focus {
		outline: none;
	}
}

[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
	color: #636669;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

::-moz-placeholder {
	color: #636669;
	opacity: 1;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h2 {
	padding: 0;
	margin: 0;
}

h3 {
	padding: 0;
	margin: 0;
}

h4 {
	padding: 0;
	margin: 0;
}

h5 {
	padding: 0;
	margin: 0;
}

h6 {
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

.ui-helper-hidden-accessible {
	display: none;
}

body.ac-no-overflow {
	overflow: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.select-label {
	border-radius: 4px;

	.gray {
		color: #262727;
		min-height: 16px;
	}

	ul {
		li.null {
			color: #B8B7B7;
		}
	}
}

.hand {
	cursor: pointer;
}

.icon.duplicate {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	background: url("../img/remix/file-copy-2-line.svg") no-repeat;
	width: 23px;
	height: 22px;
}

.icon.print {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	background: url("../img/remix/printer-line.svg") no-repeat;
	width: 24px;
	height: 24px;
}



.button-link-blue.current {
	&:before {
		transform: scaleY(1);
	}
}

.ac-light-blue.current {
	&:before {
		transform: scaleY(1);
	}
}

.ac-light-red.current {
	&:before {
		transform: scaleY(1);
	}
}

.ui-button.current {
	&:before {
		transform: scaleY(1);
	}
}

.button-link-gray {
	position: relative;
	background-color: $colorDark;
	color: $colorLight;
	border: none;
	transition: background 0.3s;

	&:hover {
		background-color: $colorDarkHover;
	}
}


.pagination-wrapper {
	p {
		display: inline-block;
		vertical-align: middle;
		font-size: 0.9em;

		span {
			font-weight: 700;
		}
	}

	div {
		display: inline-block;
		margin-left: 10px;

		input {
			width: 35px;
			padding: 5px;
			font-size: 0.9em;
			margin: 0 5px;
		}

		p {
			margin-right: 5px;
		}

		a {
			display: inline-block;
			vertical-align: middle;
			padding: 10px;
			color: $colorDark;
			font-size: 14px;
			font-weight: 700;
			transition: background 0.3s, color 0.3s;
			padding: 10px 13px;
			border: none;
			background: none;

			span {
				width: 24px;
				height: 24px;
				text-indent: 9999px;
				display: block;
				position: relative;
			}

		}

		a.prev>span:after {
			content: "\ea64";
			font-family: "remixicon";
			font-size: 2.5em;
			text-indent: 0;
			color: $colorGreen;
			position: absolute;
			top: -13px;
			right: -10px;
		}

		a.next>span:after {
			content: "\ea6e";
			font-family: "remixicon";
			font-size: 2.5em;
			text-indent: 0;
			color: $colorGreen;
			position: absolute;
			top: -13px;
			right: 5px;
		}
	}
}

.custom-controls.has-controls {
	width: calc(100% - 50px);
}

.custom-controls.has-controls.dashboard {
	width: 100%;
}

.ac-login {
	.sw-message {
		width: 100%;
	}
}

.login-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(img/bg-login.jpg) repeat;
	animation: bg-login 30s linear infinite;

	.login-content {
		position: absolute;
		width: 400px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		.ac-client-logo {
			position: relative;
			width: 100%;
			height: 200px;
			margin-bottom: 20px;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-height: 100%;
				display: block;
			}
		}

		#login-form {
			.input-wrapper {
				text-align: center;

				input {
					width: 100%;
					margin-bottom: 20px;
				}
			}

			a {
				border-bottom: 1px solid transparent;
				display: block;
				color: $colorDark;
				font-size: 14px;
				transition: border 0.3s;

				&:hover {
					border-bottom: 1px solid $colorDark;
				}
			}

			.checkbox-wrapper {
				margin-bottom: 20px;

				input {
					position: absolute;
					opacity: 0;
					visibility: hidden;

					&:checked+label {
						&:after {
							transform: translate(15px, -40%);
							background: $colorDark3;
							left: 0;
						}
					}
				}

				label {
					position: relative;
					top: 8px;
					cursor: pointer;

					span {
						color: $colorLight;
						font-weight: 700;
						display: inline-block;
						vertical-align: middle;
					}

					&:before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						margin-right: 20px;
						width: 30px;
						height: 10px;
						background: #313437;
						border-radius: 15px;
					}

					&:after {
						content: "";
						position: absolute;
						width: 15px;
						height: 15px;
						top: 50%;
						left: -1px;
						transform: translate(0, -40%);
						border-radius: 50%;
						transition: transform 0.3s, background 0.3s;
						background: #0f1013;
					}
				}
			}

			button {
				margin: 10px 0 15px;
				display: inline-block;
				border: 3px solid $colorGreen;
				border-radius: 4px;
				padding: 15px 30px;
				text-transform: uppercase;
				font-size: 18px;
				color: $colorGreen;
				background: none;
				font-weight: 800;
				transition: color 0.3s, background 0.3s;

				&:hover {
					color: $colorLight;
					background: $colorHover;
				}

				&:active {
					color: $colorLight;
					background: $colorHover;
				}
			}
		}
	}

	.copyright {
		font-size: 12px;
		color: $colorDark;
		position: absolute;
		font-weight: 300;
		bottom: 20px;
		left: 20px;

		strong {
			font-weight: 700;
		}
	}
}

.hide {
	display: none !important;
}

.cntOnglet {
	display: flex;
	font-size: 1rem;
	justify-content: space-between;
}

.ui-tabs-nav {
	justify-content: left;
	justify-content: left;
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	border: 1px solid #ededed;
	border-width: 0 0 1px 0;
	align-items: center;
	margin-top: 10px;

	li {
		display: block;

		&:last-of-type {
			margin-right: 0;
		}

		a {
			border: 1px solid #ededed;
			border-width: 0 0 1px 0;
			display: block;
			color: $colorDark;
			padding: .5em 1em;
			margin-bottom: -1px;
			transition: background 0.3s, color 0.3s;
			font-weight: 700;
			outline: none;
			align-items: center;

			&:hover {
				border-bottom-color: $colorGreen;
			}
		}

		&.selected {
			a {
				border-bottom-color: $colorGreen;
				border-bottom-width: 3px;
				border-bottom-width: 3px;
				color: $colorHover;
			}
		}

		&.ui-state-active {
			a {
				border-bottom-color: $colorGreen;
				border-bottom-width: 3px;
				border-bottom-width: 3px;
				color: $colorGreen;
			}
		}
	}
}


.divbut.divtr.bulk-update {
	width: 100%;
	margin-right: 0;
}

#alertDialog {
	text-align: center;
	padding: 40px 20px;

	p {
		font-size: 18px;

		&:before {
			display: inline-block;
			vertical-align: middle;
			content: "";
			background: url("../../img/sprite-sw.png") no-repeat;
			background: url("../../img/sprite-sw.png") no-repeat;
			margin-right: 10px;
			background-position: -226px 0;
			width: 19px;
			height: 19px;
		}
	}
}

.ui-widget-overlay {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body.dashboard {
	.center-panel {
		.content-wrapper {
			height: calc(100% - 50px);
		}
	}
}

.ac-left-action-buttons {
	display: inline-block;
}

.required {
	background-color: aliceblue;
}

.custom-controls-add {
	vertical-align: top;
	text-align: right;
	float: right;
}

#filelist {
	left: 50px;
	position: absolute;
	top: 2px;
	width: 200px;
}

#previous_item {
	width: 50px;
}

#next_item {
	width: 50px;
}

.selectedCount {
	margin-right: 30px;
}

.toggle-menu {
	float: left;
}

#editPopupDialog {
	.formContent {
		padding: 20px;
	}
}

.stdlist {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 50px;
	display: table;
	border-collapse: collapse;

	.thead {
		display: table-row;
	}

	.th {
		display: table-cell;
		position: relative;
		color: $colorLight;
		background: $colorDark3;
		text-align: left;
		font-size: 16px;
		font-weight: 300;
		padding: 10px;
		padding-right: 22px;
		border: 1px solid $colorDark3;
		cursor: pointer;
		transition: background 0.3s;
	}

	.tr {
		display: table-row;

		&:hover {
			.td {
				filter: $hoverFilter;
			}
		}
	}

	.tr.yellow {
		div {
			background: $colorLight;
		}
	}

	.tr.red {
		div {
			background: #ff9b9b;
		}
	}

	.td {
		display: table-cell;
		font-size: 16px;
		border: 1px solid $colorMid2;
		padding: 8px 5px;
		background: $colorLight;
		transition: background 0.3s;
	}
}

.fullwidth {
	width: 100% !important;
	max-width: 100%;
}

.message-header {
	font-size: 20px;
	padding: 20px;
	color: #a74a4a;
}

.onglet-child {
	width: 50%;
	background: $colorLight;
}

.save-button {
	button {
		float: left;
	}
}

#divCntProjects {
	min-height: 260px;
}

.info {
	padding: 3px 10px;
	font-weight: bold;
}

.error {
	padding: 3px 15px;
	color: $colorLightRed;
}

.debug {
	padding: 2px 20px;
	color: rgb(97, 93, 93);

	&::before {
		content: '\2022\2002';
	}
}

.task {
	padding: 5px;
	background: #f0f0f0;
	margin: 10px;
}

.expired-session-msg-ctnr {
	width: 100%;
	padding-top: 100px;
	background-color: #F0F0F0;
	border: 1px solid #d1d1d1;
}

.expired-session-msg {
	margin: auto;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	height: calc(100% - 120px);
}

body.toggle-left-panel {
	.sw-header {
		.custom-controls.has-controls {
			width: calc(100% - 100px);
		}

		.custom-controls.dashboard {
			width: calc(100% - 50px);
		}
	}

	.left-panel {
		transform: translate(-100%, 0);
	}

	.center-panel {
		width: 100%;
		transform: translate(0, 0);

		.content-wrapper {
			#tabsContain {
				.sw-header {
					.toggle-menu {
						display: inline-block;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.msSearchCtnr {
		.ac-search-item {
			width: calc(25% - 10px);
		}
	}

	body {
		.left-panel {
			.left-panel-content {
				width: 100%;
			}
		}
	}

	#tabsContain {
		.trigger-search {
			display: block;
		}

		.tablesorter {
			tbody {
				tr {
					td {
						&:nth-last-child(2) {
							&:nth-last-child(3) {
								&:nth-last-child(4) {
									display: none;
								}
							}
						}

						padding: 14px 10px;
					}
				}
			}

			thead {
				tr {
					th {
						&:nth-last-child(2) {
							&:nth-last-child(3) {
								&:nth-last-child(4) {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}

	.ui-dialog {
		.trigger-search {
			display: block;
		}
	}

	.navigation-wrapper {
		width: 100%;
		right: 0;
	}

	.mainForm {
		.divtr {
			width: calc(33.33% - 40px);
		}
	}
}

@media screen and (max-width: 768px) {
	.msSearchCtnr {
		.ac-search-item {
			width: calc(50% - 10px);
			margin: 5px;
		}
	}

	#tabsContain {
		.tablesorter {
			tbody {
				tr {
					td {
						&:not(:last-of-type) {
							&:not(:first-of-type) {
								&:not(:nth-of-type(2)) {
									&:not(:nth-of-type(3)) {
										&:not(:nth-of-type(4)) {
											&:not(:nth-of-type(5)) {
												display: none;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			thead {
				tr {
					th {
						&:not(:last-of-type) {
							&:not(:first-of-type) {
								&:not(:nth-of-type(2)) {
									&:not(:nth-of-type(3)) {
										&:not(:nth-of-type(4)) {
											&:not(:nth-of-type(5)) {
												display: none;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.mainForm {
		.divtr {
			width: calc(50% - 40px);
		}
	}
}

@media screen and (max-width: 480px) {
	.msSearchCtnr {
		.ac-search-item {
			width: 100%;
			margin: 0 0 10px;
		}
	}

	.sw-header {
		height: 50px;
	}

	#tabsContain {
		.tablesorter {
			tbody {
				tr {
					td {
						&:not(:last-of-type) {
							&:not(:first-of-type) {
								&:not(:nth-of-type(2)) {
									&:not(:nth-of-type(3)) {
										display: none;
									}
								}
							}
						}
					}
				}
			}

			thead {
				tr {
					th {
						&:not(:last-of-type) {
							&:not(:first-of-type) {
								&:not(:nth-of-type(2)) {
									&:not(:nth-of-type(3)) {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.mainForm {
		.divtr {
			width: calc(100% - 40px);
		}
	}
}

@media screen and (max-width: 1280px) {
	.sw-message {
		width: 100%;
		background: $colorLight;
	}

	.sw-header {
		a.toggle-menu {
			display: inline-block;
		}

		button.toggle-menu {
			display: inline-block;
		}
	}

	body {
		.left-panel {
			transform: translate(-100%, 0);
		}

		.center-panel {
			width: 100%;
			transform: translate(0, 0);
		}
	}

	body.toggle-left-panel {
		.left-panel {
			transform: translate(0, 0);
		}

		.center-panel {
			width: 100%;
			transform: translate(0, 0);
		}
	}
}

@media screen and (max-height: 600px) {
	.login-wrapper {
		position: static;

		.login-content {
			position: relative;
			top: 20px;
			width: 90%;
			transform: translate(0, 0);
			left: 5%;
		}

		.copyright {
			position: static;
			bottom: auto;
			left: auto;
			display: block;
			text-align: center;
			transform: translate(0, 0);
			margin-top: 50px;
		}
	}
}

@media screen and (max-width: 640px) {
	.login-wrapper {
		.login-content {
			width: 90%;
			top: 50px;
			transform: translate(0, 0);
			left: 5%;

			.ac-client-logo {
				height: 150px;
			}
		}

		.copyright {
			left: 50%;
			transform: translate(-50%, 0);
			text-align: center;
		}
	}

	body {
		.center-panel {
			.content-wrapper {
				#tabsContain {
					padding-right: 10px;
					padding-left: 10px;
				}
			}
		}
	}

	#tabsContain {
		.dashboard-wrapper {
			padding: 40px 20px;
			margin-top: 30px;

			h2 {
				font-size: 22px;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	body {
		.left-panel {
			width: 100%;

			.left-panel-wrapper {
				width: 100%;

			}

			.top-nav {
				width: 100%;
			}

			.ac-nav {
				width: 100%;
			}
		}
	}

	.ui-dialog {
		max-width: 100%;
		width: 100%;
	}
}

@media screen and (min-width: 1280px) {
	body {
		.center-panel {
			width: calc(100% - 250px);
			transform: translate(250px, 0);
		}
	}
}

.ui-dialog[aria-describedby=alertDialog] .ui-widget-header {
	background: #d45e5e;
}

.ui-dialog[aria-describedby=alertDialog] .ui-dialog-titlebar-close {
	background-color: #d45e5e;
}
